@import './reset.css';
@import '@/constants.scss';

html, button, input {
	font-family: 'Chivo Mono', 'Courier New', Courier, monospace;
}

input {
	border: 1px solid black;
	border-radius: 4px;
	min-height: 24px;
}

input[type=number], input[type=decimal] {
	appearance: textfield;
	border: 0.5px solid lightgray;
	border-bottom: 1px solid black;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button, a.button, input[type=button], input[type=submit], input[type=reset] {
	background-color: hsla(0, 0%, 90%);
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;

	transition: all $transition;

	&:hover, &:focus {
		background-color: hsl(0, 0%, 75%);
		box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
	}

	&:active {
		background-color:hsl(0, 0%, 60%)
	}
}

a.button {
	text-decoration: none;
}

.material-symbols-outlined {
	user-select: none;
}