$large-padding: 16px;
$padding: 8px;

$border-radius: 8px;
$small-border-radius: 4px;

$border-width: 2px;
$shadow-size: 8px;
$small-shadow-size: 4px;

$row-height: 36px;

$transition-duration: 0.25s;
$transition-interpolation: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: $transition-duration $transition-interpolation;